html, body, .viewport{
    width: 100vw;
    height: 80vh;
}

h1, h2, h3, h4 {
    font-family: 'Black Ops One', cursive;
}

h2, h3, h4 {
    letter-spacing: 1.5px;
    line-height: 150%;
    margin: 1vmin;
}

.top-nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    height:12vmin;
    width: 12vmin;
    border: solid black 3px;

}

.settings {
    display: flex;
    border:solid black 1px;
    justify-content: space-around;
    flex-direction: row;
}

.players {
    display: flex;
    border:solid black 1px;
    justify-content: center;
    flex-direction: column;
}

.boardsize {
    display: flex;
    border:solid black 1px;
    justify-content: center;
    flex-direction: column;
}

.main-area {
    display: flex;
    flex-direction: row;
    height:100%;
    justify-content: space-around;
}

.instructions {
    display: flex;
    width: 25%;
    flex-direction: column;
    /*align-items: center;*/
    margin: 0 3vw 0 0;
    height: 75vh;
}

.gameboard {
    display: flex;
    flex-direction: column;
    height: 85vh;
}
.dropspot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropspot div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 1vh .5vw;
    font-family: 'Black Ops One', cursive;
    letter-spacing: 1.5px;
}

.tokenspot {
    display: flex;
    flex-direction: column;
}

.tokenspot div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.tokenspot > div {
    display: flex;
    margin: .5vh 0px;

}

img {
    width: 25vmin;
    height: 25vmin;
    margin: 0 4vw;
}