html, body, .viewport{
    width: 100vw;
    height: 80vh;
}
.top-nav {
    display: flex;
    border: solid black 1px;
    background-color: red;
    justify-content: space-around;
}

.logo {
    display: flex;
    height:12vmin;
    width: 12vmin;
    border: solid black 3px;

}

.settings {
    display: flex;
    border:solid black 1px;
    justify-content: space-around;
    flex-direction: row;
}

.players {
    display: flex;
    border:solid black 1px;
    justify-content: center;
    flex-direction: column;
}

.boardsize {
    display: flex;
    border:solid black 1px;
    justify-content: center;
    flex-direction: column;
}

.main-area {
    display: flex;
    flex-direction: row;
    height:100%;
}

.side-nav {
    display: flex;
    width: 25%;
}

.gameboard {
    display: flex;
    flex-direction: column;
    height: 85vh;
}
.dropspot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropspot div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 1vh .5vw;
}

.tokenspot {
    display: flex;
    flex-direction: column;
}

.tokenspot div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.tokenspot > div {
    display: flex;
    margin: .5vh 0px;

}

input {
    margin: 2px;
}
